// Styles for form elements

textarea {
  min-height: 10em;
  border-radius: 2px;
  border: 1px solid $bg-mint;
  width: 100%;
  background-color: #fff;
  font-weight: 400;
  font-family: $secondary-font;
  color: inherit;
  padding: 0.5rem 0.5rem;
  transition: border ease-in-out 300ms;

  &:focus {
    border: 1px solid darken($color: $bg-mint, $amount: 7%);
    outline: none;
  }
}
