.navbar {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid $bg-mint;

  @include screen(small) {
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    svg {
      width: 100px;
      height: auto;

      @include screen(small) {
        width: 70px;
      }
    }
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;

    @include screen(small) {
      margin-right: 0;
    }
  }
}
