.query-results {
  margin-top: 2rem;

  h6 {
    margin-bottom: 1rem;
  }

  .table-container {
    width: 100%;
    height: auto;
    overflow-x: auto;
    border: 1px solid #dadce0;
    border-radius: 5px;

    table {
      border-collapse: collapse;
      background-color: #fff;
      table-layout: auto;
      width: 100%;

      td,
      th {
        white-space: nowrap;
        text-align: left;
        font-family: $primary-font-2;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      th {
        font-weight: 600;
        background-color: #f8fbfc;
        font-size: 0.8rem;
        padding: 5px 10px;
        border-bottom: 1px solid #dadce0;
      }

      td {
        padding: 8px 10px;
        border-bottom: 1px solid #dadce0;
        font-size: 0.9rem;
      }

      tr:last-child {
        td {
          border: none;
        }
      }
    }
  }
}
