// Primary Colors
$black: #2b3845;
$black-2: #060608;
$button-primary: #286de1;
$button-secondary: #bebebe;
$button-secondary-darker: #acacac;

// Lighter Pastels
$bg-water: #f8f9fa;
// $bg-water: #f8f9fa;
$bg-mint: #e4e4e4;

// Fonts
$primary-font: 'Urbanist', sans-serif;
$secondary-font: 'Inconsolata', monospace;
$primary-font-2: 'Noto Sans JP', sans-serif;
